body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: #201257;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #563d7c;
}

button {
  display: inline-block;
  margin: 5px;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #36247c;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #d5c4ed;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  text-align: center;
}

.scores-wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  text-align: center;
  border: 2px solid #201257;
  border-radius: 10px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #201257;
}

.scores,
.mode-btn,
.timer
.view-scores
.clear-scores {
  flex: 1;
  width: 33.33% !important;
}

.scores {
  text-align: left;
  width: 100px;
  top: 10px;
  width: 33.33% !important;
}

.mode-btn {
  text-align: center;
  width: 33.33% !important;
}

.timer {
  text-align: right;
  width: 33.33% !important;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}


/* DARK MODE */

body.dark-mode .header {
  border-bottom: 2px solid #a0a0a0;
}

body.dark-mode .scores-wrapper {
  border: 2px solid #c0c0c0;
}

body.light-mode {
  background-color: #f8f8f8;
  color: #000;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode a {
  color: #f8f8f8;
}

.dark-mode a:hover {
  color: #563d7c;
}

.dark-mode button {
  background-color: #563d7c;
}

.dark-mode button:hover {
  background-color: #36247c;
}

.dark-mode li:nth-child(odd) {
  background-color: #575757;
}

.dark-mode li:nth-child(even) {
  background-color: #563d7c;
}


/* SLIDER SWITCH */

.switch-container {
  display: flex;
  width: 33.33%;
  align-items: center;
  justify-content: center;
}

.dark-mode-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.label-left,
.label-right {
  margin: 0 10px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #563d7c;
  border-radius: 34px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #563d7c;
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(26px);
}
