body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: #201257;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #36247c;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #201257;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #36247c;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  text-align: center;
}

.scores-wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  text-align: center;
  border: 2px solid #201257;
  border-radius: 10px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #201257;
}

.scores,
.mode-btn,
.timer {
  flex: 1;
  width: 33%;
}

.scores {
  text-align: left;
  width: 100px;
  top: 10px;
}

.mode-btn {
  text-align: center;
}

.timer {
  text-align: right;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}


/* DARK MODE */

body.dark-mode .header {
  border-bottom: 2px solid #a0a0a0;
}

body.dark-mode .scores-wrapper {
  border: 2px solid #c0c0c0;
}

body.light-mode {
  background-color: #f8f8f8;
  color: #000;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode a {
  color: #a0a0a0;
}

.dark-mode a:hover {
  color: #c0c0c0;
}

.dark-mode button {
  background-color: #a0a0a0;
}

.dark-mode button:hover {
  background-color: #c0c0c0;
}

.dark-mode li:nth-child(odd) {
  background-color: #575757;
}

.dark-mode li:nth-child(even) {
  background-color: #201257;
}
